---
import { getRelativeLocalePath } from "@/i18n/utils";

import type { HTMLAttributes } from "astro/types";

export interface Props extends HTMLAttributes<"a"> {
  disabled?: boolean;
  ariaLabel?: string;
}

const isExternalPath = (path: string) => URL.canParse(path);

const {
  disabled = false,
  href,
  class: className,
  ariaLabel,
  title,
  id,
  ...props
} = Astro.props;
---

{
  disabled ? (
    <span
      id={id}
      class:list={["group inline-block", className]}
      title={title}
      aria-disabled={disabled}
    >
      <slot />
    </span>
  ) : (
    <a
      href={
        isExternalPath(String(href))
          ? String(href)
          : getRelativeLocalePath(Astro.currentLocale, String(href))
      }
      class:list={["group inline-block hover:text-accent", className]}
      aria-label={ariaLabel}
      title={title}
      {...props}
    >
      <slot />
    </a>
  )
}
